# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode

*.spec
*.bat
*.log
*.pyc
dist/*
build/*
__pycache__/

# GLR_Updater
GLR_Updater/.vs
GLR_Updater/bin
GLR_Updater/obj
GLR_Updater/packages
GLR_Updater/*.csproj.user