altgraph==0.17
astroid==2.5.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
future==0.18.2
idna==2.10
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
pefile==2019.4.18
psutil==5.8.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylint==2.7.2
PyQt5==5.12.3
PyQt5-sip==12.8.1
pywin32-ctypes==0.2.0
requests==2.25.1
soupsieve==2.2
toml==0.10.2
urllib3==1.26.3
wrapt==1.12.1
